.form{
  display: flex;
  align-items: center;
  
  gap: .5rem;
}

.form input{
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
  background: var(--gray-500);
  color: var(--gray-300);
  width: 100%;
  line-height: 1.4;
}

.form button[type="submit"]{
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: var(--blue-800);
  color: var(--white);
  font-weight: 700;
  transition: background-color 0.1s;
}

.form button[type="submit"]:not(:disabled):hover{
  background-color: var(--blue-300);
}

.form button[type="submit"]:disabled{
  opacity: .7;
  cursor: not-allowed;
}